
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body{
  background-color: #333333;
  color: #cfcfcf;
}

.erase{
  background-image: linear-gradient(#f74d27, #d63b3b);
  color: #333333;
}

.form-control{
  background-color: #efefef;
}

.entry{
  background-image: linear-gradient(#04d368, #18aa0d);
  color: #333333;
}
